body {
    background-color: grey;
    color: #ffffff;
    font: normal 50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
font-color
 
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color:#ffffff	;
    font-size: 45px;
    margin-bottom: 20px;
}
a{

